certifi==2024.2.2
cftime==1.6.3
contourpy==1.2.1
cycler==0.12.1
fonttools==4.51.0
importlib_resources==6.4.0
kiwisolver==1.4.5
matplotlib==3.8.4
netCDF4==1.6.5
packaging==24.0
pillow==10.3.0
pyparsing==3.1.2
pyproj==3.6.1
PyQt5==5.15.10
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
python-dateutil==2.9.0.post0
six==1.16.0
zipp==3.18.1
